<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>智慧城市管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
    <!-- DataTables -->
    <link href="../assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/libs/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <!-- App css -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css"/>

    <!--引入angular js-->
    <script type="text/javascript" src="../assets/js/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../assets/js/base.js"></script>

    <!--引入controller js-->
    <script type="text/javascript" src="../assets/js/controller/administratoruserController.js"></script>
    <script type="text/javascript" src="../assets/js/controller/barrelController.js"></script>
    <script type="text/javascript" src="../assets/js/controller/baseController.js"></script>
    <script type="text/javascript" src="../assets/js/controller/commonuserController.js"></script>
    <script type="text/javascript" src="../assets/js/controller/deviceController.js"></script>
    <script type="text/javascript" src="../assets/js/controller/deviceuserController.js"></script>
    <script type="text/javascript" src="../assets/js/controller/facepicController.js"></script>
    <script type="text/javascript" src="../assets/js/controller/rubbishpicController.js"></script>
    <!--引入service js-->
    <script type="text/javascript" src="../assets/js/service/administratoruserService.js"></script>
    <script type="text/javascript" src="../assets/js/service/barrelService.js"></script>
    <script type="text/javascript" src="../assets/js/service/commonuserService.js"></script>
    <script type="text/javascript" src="../assets/js/service/deviceService.js"></script>
    <script type="text/javascript" src="../assets/js/service/deviceuserService.js"></script>
    <script type="text/javascript" src="../assets/js/service/facepicService.js"></script>
    <script type="text/javascript" src="../assets/js/service/rubbishpicService.js"></script>

</head>
<body ng-app="intelligencecity" >
<!-- Begin page -->
<div id="wrapper">
    <!-- Topbar Start-->
    <div class="navbar-custom">
        <ul class="list-unstyled topnav-menu float-right mb-0">

            <li class="dropdown d-none d-lg-block">
                <a class="nav-link dropdown-toggle mr-0 waves-effect waves-light" data-toggle="dropdown" href="#"
                   role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="../assets/images/flags/China.jpg" alt="user-image" class="mr-1" height="12"> <span
                        class="align-middle">中文(简体) </i> </span>
                </a>
            </li>
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"
                   role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="dripicons-inbox mail-icon"></i>
                    <span class="badge badge-info noti-icon-badge">0</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="m-0">
                                    <span class="float-right">
                                        <a href="" class="text-dark">
                                            <small>清空消息</small>
                                        </a>
                                    </span>20条新消息
                        </h5>
                    </div>
                    <div class="slimscroll noti-scroll">
                    </div>
                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                        查看所有消息
                        <i class="fi-arrow-right"></i>
                    </a>
                </div>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"
                   role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="dripicons-bell noti-icon"></i>
                    <span class="badge badge-danger noti-icon-badge">35</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="m-0">
                                    <span class="float-right">
                                        <a href="" class="text-dark">
                                            <small>清空所有消息</small>
                                        </a>
                                    </span>消息通知
                        </h5>
                    </div>

                    <div class="slimscroll noti-scroll">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-info"><i class="mdi mdi-cloud-upload-outline"></i></div>
                            <p class="notify-details">您已经使用该系统
                                <small class="text-muted">5 hours ago</small>
                            </p>
                        </a>
                        <!-- All-->
                        <a href="javascript:void(0);"
                           class="dropdown-item text-center text-primary notify-item notify-all">
                            查看全部消息
                            <i class="fi-arrow-right"></i>
                        </a>

                    </div>
                </div>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown"
                   href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="../assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                    <span class="pro-user-name ml-1">
                                庄小焱 <i class="mdi mdi-chevron-down"></i>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="dripicons-user"></i>
                        <span>我的账户</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="dripicons-gear"></i>
                        <span>设置</span>
                    </a>

                    <div class="dropdown-divider"></div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="dripicons-power"></i>
                        <span>退出</span>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="list-unstyled menu-left mb-0">
            <li class="float-left">
                <a href="index.html" class="logo">
                            <span class="logo-lg">
                                <img src="../assets/images/logo.png" alt="" height="25">
                            </span>
                    <span class="logo-sm">
                                <img src="../assets/images/logo-sm.png" alt="" height="24">
                            </span>
                </a>
            </li>
            <li class="float-left">
                <a class="button-menu-mobile navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </li>
            <li class="app-search d-none d-md-block">
                <form class="form-inline">
                    <input type="text" class="form-control" placeholder="Search…">
                    <button class="btn btn-primary-color" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>
        </ul>
    </div>
    <!-- end Topbar -->

    <!-- Start Left Sidebar -->
    <div class="left-side-menu">
        <div class="slimscroll-menu">
            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <ul class="metismenu" id="side-menu">
                    <!--系统主页-->
                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-device-desktop"></i>
                            <span> 系统中心</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="index.html">系统数据展示</a>
                            </li>
                        </ul>
                    </li>
                    <!--数据统计页面-->
                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-graph-pie"></i>
                            <span> 数据统计</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="user-message.html">用户管理数据</a>
                            </li>
                            <li>
                                <a href="device-message.html">设备管理数据</a>
                            </li>
                            <li>
                                <a href="chart-data.html">图表统计数据</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">深度学习数据</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">集群管理数据</a>
                            </li>
                        </ul>
                    </li>
                    <!--订单数据-->
                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-document"></i>
                            <span> 订单数据</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="order-apply.html">订单申请</a>
                            </li>
                            <li>
                                <a href="order-total.html">全部订单</a>
                            </li>
                        </ul>
                    </li>
                    <!--账户中心页面-->
                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-user"></i>
                            <span> 账户中心 </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="auth-data.html">基本信息</a></li>
                            <li><a href="password-update.html">密码修改</a></li>
                        </ul>
                    </li>
                    <!--监控中心-->
                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-briefcase"></i>
                            <span>监控系统</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="monitoring.html">监控中心</a>
                            </li>
                        </ul>
                    </li>
                    <!--系统信息页面-->
                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-briefcase"></i>
                            <span> 系统信息</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="system-message.html">系统通知</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- End Sidebar -->
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -left -->
    </div>
    <!-- End Left Sidebar  -->

    <!-- Start Page Content -->
    <div class="content-page">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">智慧城市</a></li>
                                    <li class="breadcrumb-item active">首页</li>
                                </ol>
                            </div>
                            <h4 class="page-title">系统数据中心</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-xl-12 stretch-card">
                        <div class="card-box card-gradient">
                            <div class="row">
                                <div class="col-xl-4 p-20">
                                    <div class="row">
                                        <div class="col-6">
                                            <h4 class="header-title">系统整体情况</h4>
                                            <h1>正常</h1>
                                        </div>
                                        <div class="col-6">
                                            <div class="float-right">
                                                <h4 class="header-title">深度学习系统情况</h4>
                                                <h1>正常</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-process">
                                        <br>
                                        <div class="progress mb-7" style="height: 3px;">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%;"
                                                 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h4 class="header-title">监控系统情况</h4>
                                            <h1>正常</h1>
                                        </div>
                                        <div class="col-6">
                                            <div class="float-right">
                                                <h4 class="header-title">用户系统情况</h4>
                                                <h1>正常</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 p-20">
                                    <div class="dropdown float-right">
                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                           aria-expanded="false">10 <i class="mdi mdi-chevron-down"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item">9</a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item">8</a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item">7</a>
                                        </div>
                                    </div>
                                    <h4 class="header-title mb-3">深度学习模型数据分析</h4>
                                    <div class="chartjs-chart product-chart">
                                        <canvas id="product-chart"></canvas>
                                    </div>
                                </div>
                                <div class="col-xl-4 p-20">
                                    <div class="dropdown float-right">
                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                           aria-expanded="false"> 10 <i class="mdi mdi-chevron-down"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item">9</a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item">8</a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item">7</a>
                                        </div>
                                    </div>
                                    <h4 class="header-title mb-3">模型训练情况</h4>

                                    <div class="dudash chartjs-chart dash-doughnut">
                                        <canvas id="doughnut"></canvas>
                                    </div>

                                    <div class="doughnut-footer">
                                        <i class="mdi mdi-stop-circle-outline text-pink"></i> 已经训练的数据 60% <span
                                            class="float-right"><i class="mdi mdi-stop-circle-outline text-info"></i> 待训练的数据 40%</span>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end card-box-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row" >
                    <div class="col-xl-8 stretch-card">
                        <div class="card-box">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="mdi mdi-dots-horizontal"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                </div>
                            </div>
                            <h4 class="header-title mb-4">普通用户基本数据信息</h4>
                            <div class="table-responsive" ng-controller="commonuserController" ng-init="findAll()">
                                <table class="table table-centered table-hover mb-0" id="datatable0">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0">用户ID</th>
                                        <th class="border-top-0">用户姓名</th>
                                        <th class="border-top-0">用户电话</th>
                                        <th class="border-top-0">投递时间</th>
                                        <th class="border-top-0">用户积分</th>
                                        <th class="border-top-0">其他状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--<tr ng-repeat="entity in list">-->
                                        <!--<td>{{entity.id}}</td>-->
                                        <!--<td>{{entity.userName}}</td>-->
                                        <!--<td>{{entity.userPhone}}</td>-->
                                        <!--<td>{{entity.createTime}}</td>-->
                                        <!--<td>{{entity.score}}</td>-->
                                        <!--<td><span class="badge badge-pill badge-success">正常</span></td>-->
                                    <!--</tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-box-->
                    </div> <!-- end col-->

                    <div class="col-xl-4 stretch-card">
                        <div class="card-box">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="mdi mdi-dots-horizontal"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">omething else here</a>
                                </div>
                            </div>

                            <h4 class="header-title mb-3">实时评分数据</h4>
                            <div class="row text-center">
                                <div class="col-sm-4 mb-3">
                                    <h3 class="font-weight-light">19,785</h3>
                                    <p class="text-muted text-overflow">Add Views</p>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <h3 class="font-weight-light">$3,787</h3>
                                    <p class="text-muted text-overflow">Est. Earning</p>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <h3 class="font-weight-light">$4,548</h3>
                                    <p class="text-muted text-overflow">Total Cost</p>
                                </div>
                            </div>
                            <div class="chartjs-chart line-chart-static">
                                <canvas id="line-chart-static"></canvas>
                            </div>
                        </div> <!-- end card-box -->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xl-12 stretch-card">
                        <div class="card-box">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="mdi mdi-dots-horizontal"></i>
                                </a>
                            </div>
                            <h4 class="header-title mb-4">智能设备基本数据</h4>
                            <div class="table-responsive" ng-controller="deviceController" ng-init="findAll()">
                                <table class="table table-centered table-hover mb-0" id="datatable1">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0">设备ID</th>
                                        <th class="border-top-0">设备编号</th>
                                        <th class="border-top-0">设备单位</th>
                                        <th class="border-top-0">设备的IP地址</th>
                                        <th class="border-top-0">设备物理位置</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--<tr ng-repeat="entity in list">-->
                                        <!--<td>{{entity.id}}</td>-->
                                        <!--<td>{{entity.deviceNumber}}</td>-->
                                        <!--<td>{{entity.deviceCompany}}</td>-->
                                        <!--<td>{{entity.deviceIp}}</td>-->
                                        <!--<td>{{entity.deviceLocation}}</td>-->
                                    <!--</tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-box-->
                    </div> <!-- end col-->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xl-12 stretch-card">
                        <div class="card-box">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="mdi mdi-dots-horizontal"></i>
                                </a>
                            </div>
                            <h4 class="header-title mb-4">垃圾桶数据信息</h4>
                            <div class="table-responsive" ng-controller="barrelController" ng-init="findAll()">
                                <table class="table table-centered table-hover mb-0" id="datatable2">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0">垃圾桶ID</th>
                                        <th class="border-top-0">垃圾桶编号</th>
                                        <th class="border-top-0">垃圾桶总容量</th>
                                        <th class="border-top-0">当前垃圾重量</th>
                                        <th class="border-top-0">垃圾纯度</th>
                                        <th class="border-top-0">垃圾桶剩余容量</th>
                                        <th class="border-top-0">垃圾桶位置</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--<tr ng-repeat="entity in list">-->
                                        <!--<td>{{entity.id}}</td>-->
                                        <!--<td>{{entity.barrelNumber}}</td>-->
                                        <!--<td>{{entity.totalWeight}}/ML</td>-->
                                        <!--<td>{{entity.currentWeight}}/KG</td>-->
                                        <!--<td>{{entity.purity}}%</td>-->
                                        <!--<td>{{entity.restCapacity}}/ML</td>-->
                                        <!--<td>{{entity.location}}</td>-->

                                    <!--</tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-box-->
                    </div> <!-- end col-->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xl-12 stretch-card">
                        <div class="card-box">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="mdi mdi-dots-horizontal"></i>
                                </a>
                            </div>
                            <h4 class="header-title mb-4">设备管理员数据</h4>
                            <div class="table-responsive" ng-controller="deviceuserController" ng-init="findAll()">
                                <table class="table table-centered table-hover mb-0" id="datatable3">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0">管理员ID</th>
                                        <th class="border-top-0">管理员姓名</th>
                                        <th class="border-top-0">管理员电话</th>
                                        <th class="border-top-0">管理时间</th>
                                        <th class="border-top-0">其他信息</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--<tr ng-repeat="entity in list">-->
                                        <!--<td>{{entity.id}}</td>-->
                                        <!--<td>{{entity.userName}}</td>-->
                                        <!--<td>{{entity.userPhone}}</td>-->
                                        <!--<td>{{entity.createTime}}</td>-->
                                        <!--<td>{{entity.otherMessage}}</td>-->
                                    <!--</tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-box-->
                    </div> <!-- end col-->
                </div>
                <!-- end row -->

            </div>
            <!-- container -->
        </div>
        <!-- content -->
        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        2019 © 智慧城市系统 （江苏集萃）<a href="javascript: void(0);">上海大学智能视觉中心设计</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!-- end Page Content -->
</div>
<!-- END wrapper -->

<!-- Vendor js -->
<script src="../assets/js/vendor.min.js"></script>
<!-- KNOB JS -->
<script src="../assets/libs/jquery-knob/jquery.knob.min.js"></script>
<!-- Chart JS -->
<script src="../assets/libs/chart-js/Chart.bundle.min.js"></script>
<!-- DatePicker JS -->
<script src="../assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Datatable js -->
<script src="../assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables/dataTables.bootstrap4.min.js"></script>
<script src="../assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="../assets/libs/datatables/responsive.bootstrap4.min.js"></script>
<!-- Dashboard Init JS -->
<script src="../assets/js/pages/dashboard.init.js"></script>
<!-- App js -->
<script src="../assets/js/app.min.js"></script>
<!-- Table js -->
<script src="../assets/js/table/commonuserTable.js"></script>
<script src="../assets/js/table/deviceTable.js"></script>
<script src="../assets/js/table/deviceuserTable.js"></script>
<script src="../assets/js/table/barrelTable.js"></script>
</body>
</html>