<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ShanghaiUniversity.mapper.BarrelMapper" >
  <resultMap id="BaseResultMap" type="com.ShanghaiUniversity.pojo.Barrel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="barrel_number" property="barrelNumber" jdbcType="INTEGER" />
    <result column="total_weight" property="totalWeight" jdbcType="DOUBLE" />
    <result column="current_weight" property="currentWeight" jdbcType="DOUBLE" />
    <result column="purity" property="purity" jdbcType="DOUBLE" />
    <result column="rest_capacity" property="restCapacity" jdbcType="DOUBLE" />
    <result column="location" property="location" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, barrel_number, total_weight, current_weight, purity, rest_capacity, location
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ShanghaiUniversity.pojo.BarrelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from barrel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from barrel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from barrel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ShanghaiUniversity.pojo.BarrelExample" >
    delete from barrel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ShanghaiUniversity.pojo.Barrel" >
    insert into barrel (id, barrel_number, total_weight, 
      current_weight, purity, rest_capacity, 
      location)
    values (#{id,jdbcType=INTEGER}, #{barrelNumber,jdbcType=INTEGER}, #{totalWeight,jdbcType=DOUBLE}, 
      #{currentWeight,jdbcType=DOUBLE}, #{purity,jdbcType=DOUBLE}, #{restCapacity,jdbcType=DOUBLE}, 
      #{location,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ShanghaiUniversity.pojo.Barrel" >
    insert into barrel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="barrelNumber != null" >
        barrel_number,
      </if>
      <if test="totalWeight != null" >
        total_weight,
      </if>
      <if test="currentWeight != null" >
        current_weight,
      </if>
      <if test="purity != null" >
        purity,
      </if>
      <if test="restCapacity != null" >
        rest_capacity,
      </if>
      <if test="location != null" >
        location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="barrelNumber != null" >
        #{barrelNumber,jdbcType=INTEGER},
      </if>
      <if test="totalWeight != null" >
        #{totalWeight,jdbcType=DOUBLE},
      </if>
      <if test="currentWeight != null" >
        #{currentWeight,jdbcType=DOUBLE},
      </if>
      <if test="purity != null" >
        #{purity,jdbcType=DOUBLE},
      </if>
      <if test="restCapacity != null" >
        #{restCapacity,jdbcType=DOUBLE},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ShanghaiUniversity.pojo.BarrelExample" resultType="java.lang.Integer" >
    select count(*) from barrel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update barrel
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.barrelNumber != null" >
        barrel_number = #{record.barrelNumber,jdbcType=INTEGER},
      </if>
      <if test="record.totalWeight != null" >
        total_weight = #{record.totalWeight,jdbcType=DOUBLE},
      </if>
      <if test="record.currentWeight != null" >
        current_weight = #{record.currentWeight,jdbcType=DOUBLE},
      </if>
      <if test="record.purity != null" >
        purity = #{record.purity,jdbcType=DOUBLE},
      </if>
      <if test="record.restCapacity != null" >
        rest_capacity = #{record.restCapacity,jdbcType=DOUBLE},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update barrel
    set id = #{record.id,jdbcType=INTEGER},
      barrel_number = #{record.barrelNumber,jdbcType=INTEGER},
      total_weight = #{record.totalWeight,jdbcType=DOUBLE},
      current_weight = #{record.currentWeight,jdbcType=DOUBLE},
      purity = #{record.purity,jdbcType=DOUBLE},
      rest_capacity = #{record.restCapacity,jdbcType=DOUBLE},
      location = #{record.location,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ShanghaiUniversity.pojo.Barrel" >
    update barrel
    <set >
      <if test="barrelNumber != null" >
        barrel_number = #{barrelNumber,jdbcType=INTEGER},
      </if>
      <if test="totalWeight != null" >
        total_weight = #{totalWeight,jdbcType=DOUBLE},
      </if>
      <if test="currentWeight != null" >
        current_weight = #{currentWeight,jdbcType=DOUBLE},
      </if>
      <if test="purity != null" >
        purity = #{purity,jdbcType=DOUBLE},
      </if>
      <if test="restCapacity != null" >
        rest_capacity = #{restCapacity,jdbcType=DOUBLE},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ShanghaiUniversity.pojo.Barrel" >
    update barrel
    set barrel_number = #{barrelNumber,jdbcType=INTEGER},
      total_weight = #{totalWeight,jdbcType=DOUBLE},
      current_weight = #{currentWeight,jdbcType=DOUBLE},
      purity = #{purity,jdbcType=DOUBLE},
      rest_capacity = #{restCapacity,jdbcType=DOUBLE},
      location = #{location,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>